
.date-picker {
 height: 60px;
 border-bottom: 1px solid #dedede;
 display: flex;
 padding-bottom: 4px;
 overflow-x: scroll;
 padding: 4px;
}

.date-picker > .date {
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 55px;
 min-width: 55px;
 margin-right: 4px;
}

.date-picker > .date-active {
 background-color: #424749;
 color: #fff;
 border-radius: 30px;
}
